<?xml version='1.0' encoding='utf-8'?>
<odoo>
	<data>
		<menuitem id="sekolah_top_menu" name="Sekolah" sequence="20"
			web_icon="pesantren_base,static/description/icon.png"
			groups="pesantren_base.group_sekolah_admin" />
		<menuitem id="sekolah_sub_menu" name="Operations" sequence="40" parent="sekolah_top_menu" />
		<menuitem id="sekolah_config_menu" name="Pengaturan" sequence="60" parent="sekolah_top_menu" />
		<menuitem id="siswa_menu_categ" name="Siswa" parent="sekolah_top_menu" sequence="10" />
		<menuitem id="pengaturan_umum_menu_categ" name="Pengaturan Umum"
			parent="sekolah_config_menu" sequence="10" />
		<menuitem id="pengaturan_ref_menu_categ" name="Data Referensi" parent="sekolah_config_menu"
			sequence="20" />
		<menuitem id="menu_jenis_pegawai" name="Jenis Pegawai" parent="pengaturan_ref_menu_categ"
			action="pesantren_base.action_jenis_pegawai" sequence="100" />
		<menuitem id="pengaturan_admkeu_menu_categ" name="Administrasi Keuangan"
			parent="sekolah_config_menu" sequence="30" />
		<menuitem id="pengaturan_akademik_menu_categ" name="Pengaturan Akademik"
			parent="sekolah_config_menu" sequence="40" />
		<menuitem id="pengaturan_mobile_menu_categ" name="Mobile Apps" parent="sekolah_config_menu"
			sequence="50" />

		<!-- Menu Absensi -->
		<menuitem id="absensi_menu_categ" name="Absensi" parent="sekolah_top_menu" sequence="30" />

		<!-- Kategori Aktivitas -->
		<menuitem id="tu_opkilang" name="Ekskul" parent="pengaturan_akademik_menu_categ"
			sequence="65" />
	</data>
</odoo>