.o_password_toggle_container {
    position: relative;
    width: 100%;
}

.o_password_toggle_container input {
    width: 100%;
    padding-right: 30px; /* Ruang untuk ikon mata */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    color: #6c757d; /* Warna abu-abu untuk ikon */
}

.toggle-password:hover {
    color: #495057; /* Warna abu-abu lebih gelap saat hover */
}

.o_password_toggle_readonly {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Memastikan ikon tidak tumpang tindih dengan border input saat focus */
.o_password_toggle_container input:focus + .toggle-password {
    color: #007bff; /* Ubah warna ikon saat input di-focus */
}