.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .dashboard {
      grid-template-columns: 1fr;
  }
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.col-lg-8.col-md-12.col-sm-12.m-0.p-2 {
  padding: 0.5rem !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.card {
    border: none;
    border-radius: 12px;
}
.card-header {
   background: linear-gradient(135deg, #00a65a, #008d4c);
    border-radius: 12px 12px 0 0;
}
